*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header{
    padding: 20px 0;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 129px;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.header__link{
    color: #000;
    font-weight: 700;
    font-family: "Open Sans";
font-weight: 700;
font-size: 14px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;

}
.header_link{
    color: #DE2E54;
    font-weight: 700;
    font-family: "Open Sans";
font-weight: 700;
font-size: 14px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;

}
.section__nav{
    background-image: url(./images/image\ 4.png);
    width: 1440px;
    height: 533px;
    margin-right: 148px;
    margin-top: 50px;
    display: flex;
    margin-left: 50px;

}
.text{
font-family: "Open Sans";
font-weight: 700;
font-size: 36px;
color: white;
line-height: 120%;
letter-spacing: 0px;
margin-top: 138px;
margin-left: 170px;
}
.imagee{
    width: 563px;
    height: 483px;
    padding-right: 148px;
    margin-top: 50px;
    margin-left: 75px;
}
h2{
    color: black;
    text-align: center;
    margin-top: 65px;
    font-family: "Open sans";
}
.section_btn{
   width: 200px;
height: 47px;
border-radius: 8px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
opacity: 1;
top: 367px;
left: 170px;
background-color: #DE2E54CC;   
font-family: "Open sans";
color: white;
border: none;
margin-left: 170px;
margin-top: 50px;
}
.section_btn:hover{
    color: black;
    background-color: white;
    border: 3px solid #DE2E54;
    transition: 0.5s;
}
.header__btn{
color: #DE2E54;
border: 3px solid #DE2E54;
background-color: white;
width: 189px;
height: 47;
border-radius: 8px;
border-width: 2px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
opacity: 1;

}
.header__btn:hover{
    transition: 0.5s;
    background-color: #DE2E54;
    color: black;
}
.section_low{
    display: flex;

}

.oruvchi{
    margin-left: 64px;
    margin-right: 288px;    
}
.wrapper-list{
    display: flex;
}
.katta{
    display: flex;
    margin-left: 288px;
    margin-top: 118px;
    margin-right: 288px;
    gap: 64px;
}
.katta2{
margin-left: 288px;
display: flex;
}

.conter{
    background-image: url(./images/cta.png);
    width: 1440px;
    height: 669px;
    margin-top: 215px;
    padding-bottom: 800px;
    margin-left: 40px;
    margin-top: 50px;
    
}
.contain{
    background-color: white;
    width: 540px;
    height: 331px;
    border-radius: 10px;
    margin-bottom: 100px;

}
.order{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
.h1{
    text-align: center;
    font-size: 64px;
    padding-top: 64px;
}
.nickers{
    width: 460px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: 40px;
    margin-left: 40px;
    margin-top: 14px;
    padding-left: 32px;
}
.nickers:hover{
    transition: 0.5;
    border: 1px solid #5E54A4;
}
.Send{
    border-radius: 5px;
    width: 460px;
    height: 40px;
    margin-left: 40px;
    background-color: #38CC8B;
    border: none;
    margin-top: 14px;
}
.nicker{
    width: 460px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: 40px;
    margin-left: 40px;
    margin-top: 28px;
    padding-left: 32px;
}
.nicker:hover{
   transition: 0.5;
border: 1px solid #5E54A4;
}
.Send:hover{
background-color: #247451;
transition: 0.5s;
}
.headerr{
    background-color: rgb(45, 45, 45);
    margin-left: 40px;
    margin-right: 40px;
}
.iframe{
    width: 513px;
    height: 331px;
    border-radius: 10px;

}
.ort{
    display: flex;
    align-items: center;
    justify-content: center;
}